.logo {

}


/*.logo img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    padding: 20px;

}*/



/*#######################*/	

/*.logo{
	padding:20px
}*/

@media only screen and (min-width:300px) and (max-width:750px){
    .logo{display:none;}
}	

.logo h2 {
	all: None
}

.logo{
	text-align:left;
	margin-left: 15px;
	margin-top: 10px;
}

.logo img{
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.content-logo {
     /*display: inline-block;*/
	display: block;
	max-width. 175px;
}


