{% extends 'base.html' %}

{% block title %}
{{ super() }}
{% endblock title %}

{% block meta_tags_in_head %}
{{ super() }}
{% from '_includes/_defaults.html' import LANDING_PAGE_TITLE, FEATURED_IMAGE, SITE_DESCRIPTION with context %}
{% if LANDING_PAGE_TITLE %}
<meta property="og:title" content="{{ LANDING_PAGE_TITLE|e }}"/>
<meta name="twitter:title" content="{{ LANDING_PAGE_TITLE|e }}">
{% else %}
<meta property="og:title" content="{{ SITENAME|striptags|e }}"/>
<meta name="twitter:title" content="{{ SITENAME|striptags|e }}">
{% endif %}
<meta property="og:url" content="{{ SITEURL }}" />
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}" />
<meta property="og:article:author" content="{{ AUTHOR }}" />
{% if FEATURED_IMAGE %}
<meta property="og:image" content="{{ FEATURED_IMAGE }}" />
<meta name="twitter:image" content="{{ FEATURED_IMAGE }}" >
{% endif %}
{% if SITE_DESCRIPTION %}
<meta property="og:description" content="{{ SITE_DESCRIPTION|e }}" />
<meta name="twitter:description" content="{{ SITE_DESCRIPTION|e }}">
{% endif %}
<meta name="keywords" content="{% for tag, _ in tags|sort %} {{ tag }}, {% endfor %}{% for category, _ in categories|sort %} {{ category }}, {% endfor %}" />
{% endblock meta_tags_in_head %}

{% block content %}
{% from '_includes/_defaults.html' import LANDING_PAGE_TITLE, PROJECTS, PROJECTS_TITLE with context %}

{% set landing_page = namespace(page=false) %}
{% for p in hidden_pages if p.slug == "landing-page-about-hidden" %}
{% set landing_page.page = p %}
{% endfor %}

<div class="row-fluid">
    {% if LANDING_PAGE_TITLE %}
    {% set css_class = 'span10 offset2' %}
    {% if PROJECTS and LANDING_PAGE_TITLE %}
    {% set css_class = 'span12' %}
    {% endif %}
    <header class="page-header {{ css_class }}">
    <h1><a href="{{ SITEURL }}">{{ LANDING_PAGE_TITLE }}</a></h1>
    </header>
    {% endif %}

    <div class="row-fluid">
        {% if LANDING_PAGE_TITLE and landing_page.page %}
        {% set css_class = 'span8 offset2' %}
        {% if PROJECTS and LANDING_PAGE_TITLE %}
        {% set css_class = 'span8' %}
        {% endif %}
        <div class="{{ css_class }}">
            <header>
                <h1 id="about-me">{{ landing_page.page.title }}</h1>
            </header>
            <div class="article-content">
                {{ landing_page.page.content }}
            </div>
        </div>
        {% endif %}

        {% if PROJECTS %}
        {% set css_class = 'span8 offset2' %}
        {% if PROJECTS and LANDING_PAGE_TITLE %}
        {% set css_class = 'span4' %}
        {% endif %}
        <div class="{{ css_class }}">
            <header>
            <h1 id="my-projects">{{ PROJECTS_TITLE }}</h1>
            </header>
            {% for project in PROJECTS %}
            <ul class="list-projects">
                <li>
                <a href="{{ project.url }}" title="{{ project.name }}">{{ project.name }}</a> <span class="proj-desc">{{ project.description }}</span>
                </li>
            </ul>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if articles %}
    {% set css_class = 'span8 offset2' %}


    {% if articles and PROJECTS and LANDING_PAGE_TITLE %}
    {% set css_class = 'span12' %}
    {% endif %}

    {% if articles and LOGO_JORGE_IMAGE_DESC %}
    {% set css_class = 'span9' %}
    {% endif %}


    {% from '_includes/_defaults.html' import RECENT_ARTICLES_COUNT, ARCHIVES_URL, CATEGORIES_URL with context %}
    <div class="row-fluid">
	{% if LOGO_JORGE_IMAGE_DESC %}
	    <div class="span3 logowrap">
		    	<div class="logo">
				<!--<img src="/static/images/foto-jorge-normal-233x300.png" alt="Jorge Lopez Perez">-->
				<img src="/static/images/foto-jorge-normal-233x300.png" alt="Jorge Lopez Perez" width="175" height="175">
				<div class="content-logo">
					<h4>Jorge López</h4>
					<p> Physicsts. Python developer working at UAB. Now blogger</p>
					<p> I write about Python, Django, Data Science and GIS</p>
					<div id="sidebar-social-link">
    <a href="https://twitter.com/joloml" title="" target="_blank" rel="nofollow noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Twitter" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#1da1f3"></rect><path fill="#fff" d="M437 152a72 72 0 0 1-40 12 72 72 0 0 0 32-40 72 72 0 0 1-45 17 72 72 0 0 0-122 65 200 200 0 0 1-145-74 72 72 0 0 0 22 94 72 72 0 0 1-32-7 72 72 0 0 0 56 69 72 72 0 0 1-32 1 72 72 0 0 0 67 50 200 200 0 0 1-105 29 200 200 0 0 0 309-179 200 200 0 0 0 35-37"></path></svg>
    </a>
    <a href="https://github.com/jorgelopezperez" title="" target="_blank" rel="nofollow noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="GitHub" role="img" viewBox="0 0 512 512"><rect width="512" height="512" rx="15%" fill="#1B1817"></rect><path fill="#fff" d="M335 499c14 0 12 17 12 17H165s-2-17 12-17c13 0 16-6 16-12l-1-50c-71 16-86-28-86-28-12-30-28-37-28-37-24-16 1-16 1-16 26 2 40 26 40 26 22 39 59 28 74 22 2-17 9-28 16-35-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-32 3-67 0 0 21-7 70 26 42-12 86-12 128 0 49-33 70-26 70-26 14 35 6 61 3 67 16 18 26 41 26 69 0 98-60 120-117 126 10 8 18 24 18 48l-1 70c0 6 3 12 16 12z"></path></svg>
    </a>
    <a href="https://www.linkedin.com/in/jorgelopezph/" title="" target="_blank" rel="nofollow noopener noreferrer">
        <svg xmlns="http://www.w3.org/2000/svg" aria-label="LinkedIn" role="img" viewBox="0 0 512 512" fill="#fff"><rect width="512" height="512" rx="15%" fill="#0077b5"></rect><circle cx="142" cy="138" r="37"></circle><path stroke="#fff" stroke-width="66" d="M244 194v198M142 194v198"></path><path d="M276 282c0-20 13-40 36-40 24 0 33 18 33 45v105h66V279c0-61-32-89-76-89-34 0-51 19-59 32"></path></svg>
    </a>
</div>
				</div>
			</div>
                    </div>
	{% endif %}
        <div class="{{ css_class }}">
            <header>
            <h1 id="recent-posts">Recent Posts <a id="allposts" href="{{ SITEURL }}/{{ ARCHIVES_URL }}">all posts</a></h1>
            </header>
        <div class="recent-posts">
            {% for article in articles %}
            {% if loop.index0 < RECENT_ARTICLES_COUNT %}
            <div itemscope class="recent-posts-article">
                <a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                    {% if article.subtitle %}
                    <small class="subtitle">
                        {{ article.subtitle }}
                    </small>
                    {% endif %}
                </a>
                <div class="recent-posts-posted">
                    posted in
                    <a href="{{ SITEURL }}/{{ CATEGORIES_URL }}#{{ article.category.slug }}-ref">{{ article.category }}</a>
                    <time itemprop="dateCreated" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </div>
                {% if RECENT_ARTICLE_SUMMARY %}
                    <p>{{ article.summary }}</p>
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}
